<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="AppConnectionString" connectionString="Server=fd01589e-e2e7-4e21-a84d-a26c006767c0.sqlserver.sequelizer.com;Database=dbfd01589ee2e74e21a84da26c006767c0;User ID=ldfncfobkqgeauhj;Password=vTXw8ufBDTX42LfrCvYNLnUWp2j4DhAdsvPZM3BgcSaswMkWH7QM8LSi7agfjk7w;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
